APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
## api vars 

API_STANDARDS_TREE=x
API_SUBTYPE=syncit
API_DOMAIN=api.syncit.local
API_PREFIX=api
API_VERSION=v1
API_NAME=Syncit
API_DEFAULT_FORMAT=json
API_DEBUG=true
API_STRICT=false
API_JSON_FORMAT_PRETTY_PRINT_ENABLED=true


## SOCIALITE VARS

CLIENT_BASE_URL=http://localhost:3000 ## as in nuxt application running on the same server
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_CALLBACK=http://localhost/api/auth/login/github/callback  ## update this to your local address
RETRIEVE_UNVERIFIED_SOCIAL_EMAIL=0

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

## JWT SECRET
JWT_SECRET=